<h1>Stupid Coaching</h1>
<div class="convo">
  <div class="sidebar-grey">
  </div>
  <div class="container">
    <p><%= @question %></p>
    <p><em>You</em></p>
  </div>


<div class="convo" id="coach">
  <div class="sidebar-grey">

  </div>
  <div class="container">
    <p><%= @answer %></p>
    <p>-Your coach</p>
      <% take_screenshot %>
  </div>
</div>

<%= link_to 'ask a new question', ask_path %>

