<h1>Stupid Coaching</h1>
<div class="container">
  <div class="col left">
    <p> he</p>
    <p><em>he</em></p>
  </div>
  <div class="col right">
    <p><%= @question %></p>
    <p><em>You</em></p>
  </div>

</div>
<div>
    <p><%= @answer %></p>
    <p>-Your coach</p>
</div>

<%= link_to 'ask a new question', ask_path %>

